<div class="section hero-section" logo-color="white" link-color="white" fill-color="rgb(68,68,68,.4)">
  </div>
<div class="section white-section" logo-color="black" link-color="black" fill-color="transparent">
  </div>
<div id="hero" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#hero" data-slide-to="0" class="active"></li>
    <li data-target="#hero" data-slide-to="1"></li>
    <li data-target="#hero" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner section" logo-color="white">
    <div class="carousel-item active">
    </div>
    <div class="carousel-item">
    </div>
    <div class="carousel-item">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#hero" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#hero" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
