 body {
    min-height: 150vh;
}

.nav-backing {
padding-top: 75px;
}


.navbar {
  display: flex;
  height: 50px;
  background-color: transparentize(#444444,.4);
  // background-color: #8F8F8F;
  transition:500ms ease;

  &.scrolled {}

  a.navbar-brand {
    margin: 0 0 0 85px;
    color: white;

    img {
      height: 25px;
      width: 23px;
    }
  }

  .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    margin-right: 50px;
    width: 100%;

    .nav-item {
      .nav-link {
        align-items: flex-end;
        font-size: 20px;
        font-weight: bold;
        color: white;

        .nav_image {
          height: 35px;
          width: 35px;
          border: solid 1px;
          border-radius: 100%;
        }
      }
      .dropdown-item {
        font-size: 20px;
      }

    }
  }
}

.hero-section {
  background-image: url("blur-computer.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  height: 100vh;
}


.carousel-item {
  width: 100%;
  background-color: transparentize(#444444,.4);
  min-height: 400px;
  padding-top: 0
}

.white-section {
  display: flex;
  width: 100%;
  background-color: white;
  min-height: 80vh
}

.solid-section {
  width: 100%;
  background-color: #346AA9;
  min-height: 150px
}


  img {
    width: 100%;
  }

main {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  margin: 100px 25px 0 100px;

  .bottom-border {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #C6CBD1;
  }

  .top-border {
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #C6CBD1;
    width: 250px;
    margin-top: 20px;
    padding-top: 15px;
  }

  .user {
    list-style: none;
    padding-left: 0;

    .avatar {
      height: 350px;
      width: 350px;
      // border-radius: 10%;
    }

    .name {
      padding-top: 10px;
      width: 275px;
      font-size: 25px;
      font-weight: bold;
    }

    .login {
      font-size: 20px;
      font-weight: lighter;
      color: #6A737D;
    }

    .description {
      padding-top: 18px;
      width: 345px;
      color: #6A737D;
    }

    .lightweight-small {
      font-size: 18px;
      font-weight: lighter;
    }

    .location {
      margin-bottom: 5px;
      color: #24292E;

      svg {
        padding-left: 3px;
        margin-right: 8px;
      }
    }
  }

  .profile-right {
    width: auto;

    .user-stats {
      display: flex;
      justify-content: flex-start;
      flex-flow: column nowrap;
      margin-left: 75px;
      width: 100%;

      .counts {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;

        .user-stat {
          display: flex;
          justify-content: space-between;
          flex-flow: column nowrap;
          border: solid 1px;
          min-height: 150px;
          width: 33%;
          padding-left: 15px;
          margin: 0 0 0 0;

          .icon {
            margin: 25px 0 0 10px;
            font-size: 20px;
          }
          .stat {
            margin: 0 0 20px 10px;
            font-size: 40px;
            overflow-wrap: break-word;
          }
          .analysis {
            margin: 0 0 20px 10px;
            font-size: 30px;
          }
        }
      }
      .last-tweet {
        border: solid 1px;
        margin: 20px 1px 0 2px;
        padding: 10px 0 20px 20px;

        .icon {
          margin: 5px 0 10px 10px;
          font-size: 25px;
        }

        .tweet-text {
          margin: 0 0 0 0px;
          padding: 0 0 0 10px;
          font-size: 25px;
        }
      }
    }
    .search-results {
      display: flex;
      justify-content: flex-start;
      flex-flow: column nowrap;

      h4 {
        margin: 50px 0 0 0;
      }

      a {
        color: black;
        border-color: black;
        text-decoration: none;

        .result {
          display: flex;
          flex-flow: row nowrap;
          margin: 0 0 20px 0;
          padding: 10px 10px 10px 10px;
          width: 100%;

          img.thumbnail {
            height: 50px;
            width: 50px;
            border: solid 1px;
            margin: 0 15px 0 0;
          }
          .names {
            display: flex;
            flex-flow: column nowrap;
            margin: 0 15px 0 0;
            min-width: 250px;

            .name {
              display: flex;
              flex-flow: row nowrap;
            }
          }

          .location {

          }

          .title {
            font-weight: bold;
            margin: 0 5px 0 0;
          }
          .content {
          }
        }

        .result:hover{
          background-color: #e8e9eb;
        }
      }
    }
    .personality-profile {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 0 0 75px;
      padding: 10px 0 20px 0;
      width: 100%;

      .profile-header {
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
      }

      .profile-section {
        border: solid 1px;
        margin: 5px 0 10px 0;

        .trait-section-flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-flow: row wrap;
          width: 100%;
        }

        .trait-name {
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 10px;
        }

        .trait-percentile {
        font-size: 20px;
        padding: 0 0 0 10px;
        }

        .facet-name {
          margin: 5px 0 0 0;
          padding: 0 0 0 10px;
          font-size: 18px;
          font-weight: bold;
        }

        .facet-percentile {
          font-size: 18px;
          padding: 0 0 0 10px;
        }

        .trait {
          margin: 10px 10px 10px 10px;
          min-width: 30%;
          background-color: #ededed;
        }
        .facet {
          margin: 10px 10px 10px 10px;
          min-width: 250px;
          background-color: #f9f9f9;
        }
      }
    }
  }

  .profile-buttons{
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin: 20px 0px 0 75px;

    .btn {
      background: #8f8f8f;
      background-image: -webkit-linear-gradient(top, #8f8f8f, #646464);
      background-image: -moz-linear-gradient(top, #8f8f8f, #646464);
      background-image: -ms-linear-gradient(top, #8f8f8f, #646464);
      background-image: -o-linear-gradient(top, #8f8f8f, #646464);
      background-image: linear-gradient(to bottom, #8f8f8f, #646464);
      -webkit-border-radius: 2;
      -moz-border-radius: 2;
      border-radius: 2px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      margin: 0 50px 0 0;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }

  }
}
