body {
    min-height: 150vh;
}

.nav-backing {
padding-top: 75px;
}

.navbar {
  display: flex;
  height: 50px;
  background-color: transparentize(#444444,.4);
  transition:500ms ease;

  &.scrolled {}

  a.navbar-brand {
    margin: 0 0 0 85px;
    color: white;

    img {
      height: 25px;
      width: 23px;
    }
  }

  .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-link {
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    margin-right: 50px;
    width: 100%;

    .nav-item {
      .nav-image {
        height: 35px;
        width: 35px;
        border: solid 1px;
        border-radius: 100%;

      }
      .dropdown-item {
        font-size: 20px;
      }
    }
  }
}

.hero-section {
  background-image: image-url('blur-computer.png');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  height: 100vh;
}


.carousel-item {
  width: 100%;
  background-color: transparentize(#444444,.4);
  min-height: 400px;
  padding-top: 0
}

.white-section {
  display: flex;
  width: 100%;
  background-color: white;
  min-height: 90vh
}

.solid-section {
  width: 100%;
  background-color: #346AA9;
  min-height: 150px
}

  img {
    width: 100%;
  }

main {
  padding: 50px 0 0 0;
  margin: 0 50px 0 50px;
  width: inherit;
  display: flex;
  justify-content: center;


.main-content {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 50px 50px 0 50px;
  width: 100%;

  .bottom-border {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #C6CBD1;
  }

  .top-border {
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #C6CBD1;
    width: 250px;
    margin-top: 20px;
    padding-top: 15px;
  }

  .user {
    list-style: none;
    padding-left: 0;

    .avatar {
      height: 350px;
      width: 350px;
    }

    .name {
      padding-top: 10px;
      width: 275px;
      font-size: 25px;
      font-weight: bold;
    }

    .login {
      font-size: 20px;
      font-weight: lighter;
      color: #6A737D;
    }

    .description {
      padding-top: 18px;
      width: 345px;
      color: #6A737D;
    }

    .lightweight-small {
      font-size: 18px;
      font-weight: lighter;
    }

    .location {
      margin-bottom: 5px;
      color: #24292E;

      svg {
        padding-left: 3px;
        margin-right: 8px;
      }
    }
  }
}
  .profile-right {
    width: 100%;
    max-width: 1100px;

  .profile-alert {
    border: solid 2px;
    margin: 20px 25px 0 30px;
    padding: 20px 0 20px 10px;
    width: 100%;
    text-align: center;

    .error-message {
      color: red;
      font-weight: bold;
    }

    .warning-message {
      color: orange;
      font-weight: bold;
    }
  }

    .user-stats {
      display: flex;
      justify-content: flex-start;
      flex-flow: column nowrap;
      margin: 0 0 0 30px;
      width: 100%;

      .counts {
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;

        .user-stat {
          display: flex;
          justify-content: space-between;
          flex-flow: column nowrap;
          border: solid 1px;
          min-height: 150px;
          width: 33%;
          padding-left: 15px;
          margin: 0 0 0 0;

          .icon {
            margin: 25px 0 0 10px;
            font-size: 20px;
          }
          .stat {
            margin: 0 0 20px 10px;
            font-size: 40px;
            overflow-wrap: break-word;
          }
          .analysis {
            margin: 0 0 20px 10px;
            font-size: 30px;
          }
        }
      }
      .last-tweet {
        border: solid 1px;
        margin: 20px 1px 0 2px;
        padding: 10px 0 20px 20px;

        .icon {
          margin: 5px 0 10px 10px;
          font-size: 25px;
        }

        .tweet-text {
          margin: 0 0 0 0px;
          padding: 0 0 0 10px;
          font-size: 25px;
        }
      }
    }

    .personality-profile {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 0 0 30px;
      padding: 10px 0 20px 0;
      width: 100%;

      .profile-header {
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
      }

      .profile-section {
        border: solid 1px;
        margin: 5px 0 10px 0;
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content: center;

        .trait-section-flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-flow: row wrap;
          width: 100%;
        }

        .trait-name {
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 10px;
        width: 215px;
        }

        .trait-percentile {
        font-size: 20px;
        padding: 0 0 0 10px;
        width: 215px;
        }

        .facet-name {
          margin: 5px 0 0 0;
          padding: 0 0 0 10px;
          font-size: 18px;
          font-weight: bold;
        }

        .facet-percentile {
          font-size: 18px;
          padding: 0 0 0 10px;
        }

        .trait {
          min-width: 225px;
          background-color: #EEEEEE;
          margin: 1px 0 5px 0;
        }

        .trait:hover {
          background-color: #DDDDDD;
        }

        .dimension {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column nowrap;
          margin: 0 30px 0 0;
        }

        .facet {
          margin: 5px 5px 5px 5px;
          min-width: 225px;
          background-color: #f9f9f9;
        }
      }
    }
  }

  .list-results {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    margin: 0 0 0 25px;

    .search-header {
      margin: 30px 0 12px 0;
    }

    .saved-header {
      margin: 0 0 12px 0;
    }

    a {
      color: black;
      border-color: black;
      text-decoration: none;

      .result {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 0 20px 0;
        padding: 10px 10px 10px 10px;
        width: 100%;

        img.thumbnail {
          height: 50px;
          width: 50px;
          border: solid 1px;
          margin: 0 15px 0 0;
        }
        .names {
          display: flex;
          flex-flow: column nowrap;
          margin: 0 15px 0 0;
          min-width: 250px;

          .name {
            display: flex;
            flex-flow: row nowrap;
          }
        }

        .generated {
          min-width: 250px;
        }

        .location {

        }

        .title {
          font-weight: bold;
          margin: 0 5px 0 0;
        }
        .content {
        }
      }

      .result:hover{
        background-color: #e8e9eb;
      }
    }
  }

  .profile-buttons{
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin: 20px 0px 0 30px;
  }

  .personality-profile-buttons {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
  }

  .btn {
    background: #8f8f8f;
    background-image: -webkit-linear-gradient(top, #8f8f8f, #646464);
    background-image: -moz-linear-gradient(top, #8f8f8f, #646464);
    background-image: -ms-linear-gradient(top, #8f8f8f, #646464);
    background-image: -o-linear-gradient(top, #8f8f8f, #646464);
    background-image: linear-gradient(to bottom, #8f8f8f, #646464);
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 0 50px 0 0;
    text-decoration: none;
  }

  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .search-form {
    margin: 25px 0 0 0;
    display: flex;
    align-items: center;

    .search-btn, .search-btn:hover {
      padding: 4px 8px 4px 8px;
      font-size: 12px!important;
    }

    #username_query {
      padding: 6px 10px 6px 10px;
      margin: 0 10px 0 0;
      width: 300px;
      color: black;
    }
  }

  .personality-profile-buttons {
    .personality-profile-btn, .personality-profile-btn:hover {
      margin: 5px 0 5px 0;
      padding: 4px 8px 4px 8px;
      min-width: 350px;
      font-size: 15px;
    }
  }
  .saved-profile-buttons {
    display: flex;
    align-items: center;

    .saved-profile-btn, .personality-profile-btn:hover {
      margin: 5px 0 5px 0;
      padding: 4px 8px 4px 8px;
      min-width: 100px;
      font-size: 15px;
    }
  }
}

#alert {
  text-align: center;
  position: absolute;
  width: 100%;
}


/* Popup container - can be anything you want */
.popup, .popup-primary {
    cursor: pointer;
}
.popuptext, .popuptext-primary {
  visibility: hidden;
  color: #3cb0fd;
  text-align: center;
  padding: 8px 0;
  z-index: 100;
  height: 100;
  float: left;
  width: 1%;
  position: absolute;
  min-width: 225px;
  background-color: #DDDDDD;
  margin: 1px 0 5px 0;
  border: 1px solid #AAAAAA;
}

  /* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin: 0 0 10px -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    margin: 2px 0 0 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Toggle this class - hide and show the popup */
.popup-primary .show {
    visibility: visible;
    margin: 0 0 0 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
