---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=j3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 03 Jun 2018 21:22:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3b6b9301ff6cfc541f8faabec9b6e97c
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '895'
      X-Rate-Limit-Reset:
      - '1528061292'
      X-Response-Time:
      - '26'
      X-Transaction:
      - 001fccba002b739a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":1133971,"id_str":"1133971","name":"Jeff Casimir","screen_name":"j3","location":"Denver,
        CO","profile_location":null,"description":"Don''t talk about it, be about
        it. Executive Director at the @TuringSchool.","url":"https:\/\/t.co\/TrJ7G7QGvg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G7QGvg","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":7091,"friends_count":1774,"listed_count":448,"created_at":"Wed
        Mar 14 02:35:24 +0000 2007","favourites_count":9681,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":28756,"lang":"en","status":{"created_at":"Sat
        Jun 02 21:49:40 +0000 2018","id":1003030914916478976,"id_str":"1003030914916478976","text":"@ChrisSkirka
        To be fair, my bias is that I\u2019m not interested in autographs.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ChrisSkirka","name":"Chris
        Skirka","id":1626739926,"id_str":"1626739926","indices":[0,12]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/tapbots.com\/tweetbot\" rel=\"nofollow\"\u003eTweetbot for
        i\u039fS\u003c\/a\u003e","in_reply_to_status_id":1003021415396732929,"in_reply_to_status_id_str":"1003021415396732929","in_reply_to_user_id":1626739926,"in_reply_to_user_id_str":"1626739926","in_reply_to_screen_name":"ChrisSkirka","geo":null,"coordinates":null,"place":{"id":"460b8a5f636e7c9e","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/460b8a5f636e7c9e.json","place_type":"neighborhood","name":"Union
        Station","full_name":"Union Station, Denver","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-105.008219,39.7455573],[-104.991716,39.7455573],[-104.991716,39.760381],[-105.008219,39.760381]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/900406994506366977\/jtdyLYVF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/900406994506366977\/jtdyLYVF_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1133971\/1503508820","profile_link_color":"0000FF","profile_sidebar_border_color":"87BC44","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"}'
  recorded_at: Sun, 03 Jun 2018 21:22:39 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=katyperry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;c[...]
