---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=katyperry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 03 Jun 2018 20:23:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1d1ebe00fb95afd1fd1df14d3f2f82b1
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1528058283'
      X-Response-Time:
      - '24'
      X-Transaction:
      - '008a975f00a81217'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":21447363,"id_str":"21447363","name":"KATY PERRY","screen_name":"katyperry","location":"","profile_location":null,"description":"Love.
        Light.","url":"https:\/\/t.co\/UCVo8NkmAc","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/UCVo8NkmAc","expanded_url":"http:\/\/www.katyperry.com\/tour","display_url":"katyperry.com\/tour","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":109510598,"friends_count":216,"listed_count":141547,"created_at":"Fri
        Feb 20 23:45:56 +0000 2009","favourites_count":6204,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":9210,"lang":"en","status":{"created_at":"Sat
        Jun 02 22:44:24 +0000 2018","id":1003044688381739008,"id_str":"1003044688381739008","text":"We
        just played our 80TH show for #WITNESSTHETOUR... \ud83e\udd1d\ud83c\udf0e\ud83d\udcaa\ud83c\udffb\ud83c\udf0d\ud83d\ude4c\ud83c\udffb\ud83c\udf0f\u2764\ufe0f
        #andwedontstop\n#welloiledmachine #cookingwithgas \ud83d\udc75\ud83c\udffc","truncated":false,"entities":{"hashtags":[{"text":"WITNESSTHETOUR","indices":[33,48]},{"text":"andwedontstop","indices":[63,77]},{"text":"welloiledmachine","indices":[78,95]},{"text":"cookingwithgas","indices":[96,111]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1820,"favorite_count":11496,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"CECFBC","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1001159499133149184\/mNHEcMbf_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1001159499133149184\/mNHEcMbf_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/21447363\/1527150186","profile_link_color":"D55732","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"78C0A8","profile_text_color":"5E412F","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"}'
  recorded_at: Sun, 03 Jun 2018 20:23:03 GMT
[...]
