---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=wraithcube
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 06:23:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0d8191e2aac75b7f7d4819399c35e996
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '897'
      X-Rate-Limit-Reset:
      - '1528267099'
      X-Response-Time:
      - '25'
      X-Transaction:
      - 00a6aefb000d0d90
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":24723983,"id_str":"24723983","name":"Wraith Cube","screen_name":"wraithcube","location":"Boulder,
        CO","profile_location":null,"description":"","url":"http:\/\/t.co\/CXbbTY5hxv","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CXbbTY5hxv","expanded_url":"http:\/\/twitch.tv\/wraithcube","display_url":"twitch.tv\/wraithcube","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":9,"listed_count":0,"created_at":"Mon
        Mar 16 16:53:18 +0000 2009","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":8,"lang":"en","status":{"created_at":"Wed
        Oct 07 19:59:04 +0000 2015","id":651849242084970496,"id_str":"651849242084970496","text":"@TeamLiquidLoL
        Is there a chance you''d release a replay pack of some of your pro games or
        scrims like the old SC2 replay packs?","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"TeamLiquidLoL","name":"Team
        Liquid LoL","id":964529942,"id_str":"964529942","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":964529942,"in_reply_to_user_id_str":"964529942","in_reply_to_screen_name":"TeamLiquidLoL","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/100541630\/cube_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/100541630\/cube_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Wed, 06 Jun 2018 06:23:39 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1//statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=wraithcube
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; fil[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1//statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&max_id=1337226802&screen_name=wraithcube
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 06:23:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f790689eafdec2b28c902b73a305db9b
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1480'
      X-Rate-Limit-Reset:
      - '1528267099'
      X-Response-Time:
      - '18'
      X-Transaction:
      - '0006847700a3b317'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Wed, 06 Jun 2018 06:23:40 GMT
- request:
    method: post
    uri: https://gateway.watsonplatform.net/personality-insights/api/v3/profile?version=2017-10-13
    body:
      encoding: UTF-8
      string: |-
        Thank you for opposing SOPA/PIPA! @MarkUdall @jaredpolis http://bit.ly/LAb4R

        Ah, twitter there's a reason i don't use my account. . . I may not be scared of the swine flu, but I am a little scared of the number of paranoid people http://search.twitter.com/search?q=swine+flu Hmm, how do I search for comments on twitter related to swine flu. Curse you xkcd for making me try to duplicate your searches! What to do with my new twitter account now that the contest is over. . . Oh well add in another occasionally used social networking site Get some soldier! Wooo! Just entered to win #RA3Uprising. Just follow @EA_Apoc and retweet http://bit.ly/4m2AC1
    headers:
      Authorization:
      - Basic MGVjMDRjYWMtZDFiOS00YjcxLTlmODgtNTkxNjc4MWNlYjJkOk5KZmwwV1E0TW5TSA==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.4.4
      X-Service-Build-Number:
      - 2018-05-14T05:03:49.758 UTC
      Content-Disposition:
      - attachment; filename="WatsonPersonalityInsightsAPI.json"
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway02-428584553
      X-Global-Transaction-Id:
      - ffea405d5b177dec198bae69
      X-Dp-Watson-Tran-Id:
      - gateway02-428584553
    body:
      encoding: UTF-8
      string: '{"word_count":104,"word_count_message":"There were 104 words in the
        input. We need a minimum of 600, preferably 1,200 or more, to compute statistically
        significant estimates","processed_language":"en","personality":[{"trait_id":"big5_openness","name":"Openness","category":"personality","percentile":0.5703313323761224,"significant":true,"children":[{"trait_id":"facet_adventurousness","name":"Adventurousness","category":"personality","percentile":0.3237034331768335,"significant":true},{"trait_id":"facet_artistic_interests","name":"Artistic
        interests","category":"personality","percentile":0.08594861801694159,"significant":true},{"trait_id":"facet_emotionality","name":"Emotionality","category":"personality","percentile":0.3384228286335717,"significant":true},{"trait_id":"facet_imagination","name":"Imagination","category":"personality[...]
[...]
