---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=agpiermarini
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 06:23:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 30fff337ede580b22f70addad3cd7da2
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '893'
      X-Rate-Limit-Reset:
      - '1528267099'
      X-Response-Time:
      - '21'
      X-Transaction:
      - 00edfc3d00ee2b9d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":809075773105721344,"id_str":"809075773105721344","name":"\u219fA\u0274\u1d05\u0280e\u1d21","screen_name":"agpiermarini","location":"","profile_location":null,"description":"\ud83c\udf43","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Wed
        Dec 14 16:41:11 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/968045861958635520\/LxDeesSo_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/968045861958635520\/LxDeesSo_normal.jpg","profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Wed, 06 Jun 2018 06:23:43 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1//statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=agpiermarini
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 06:23:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7b3bc5b8c798a544d6d157b7390c5522
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1479'
      X-Rate-Limit-Reset:
      - '1528267099'
      X-Response-Time:
      - '17'
      X-Transaction:
      - 00e31a6000964fd2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Wed, 06 Jun 2018 06:23:43 GMT
- request:
    method: post
    uri: https://gateway.watsonplatform.net/personality-insights/api/v3/profile?version=2017-10-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGVjMDRjYWMtZDFiOS00YjcxLTlmODgtNTkxNjc4MWNlYjJkOk5KZmwwV1E0TW5TSA==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Backside-Transport:
      - FAIL FAIL
      X-Service-Api-Version:
      - 3.4.4
      X-Service-Build-Number:
      - 2018-05-21T05:06:00.565 UTC
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway02-26163360
      X-Global-Transaction-Id:
      - ffea405d5b177df0018f38a0
      X-Dp-Watson-Tran-Id:
      - gateway02-26163360
    body:
      encoding: ASCII-8BIT
      string: '{"code":400,"sub_code":"S00008","error":"No text provided"}'
  recorded_at: Wed, 06 Jun 2018 06:23:44 GMT
[...]
