---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=lilwillifo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 06:23:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5a1fe93bab55d1c41860153e93187f57
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '891'
      X-Rate-Limit-Reset:
      - '1528267099'
      X-Response-Time:
      - '110'
      X-Transaction:
      - 00a9bbd900b8bf5b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":32985917,"id_str":"32985917","name":"Margaret Williford","screen_name":"lilwillifo","location":"Denver,
        CO","profile_location":{"id":"b49b3053b5c25bf5","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/b49b3053b5c25bf5.json","place_type":"unknown","name":"Denver,
        CO","full_name":"Denver, CO","country_code":"","country":"","contained_within":[],"bounding_box":null,"attributes":{}},"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":74,"friends_count":120,"listed_count":0,"created_at":"Sat
        Apr 18 19:36:24 +0000 2009","favourites_count":16,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":45,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"07090B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme12\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme12\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/995722904498094084\/JK718VMQ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/995722904498094084\/JK718VMQ_normal.jpg","profile_link_color":"C34242","profile_sidebar_border_color":"BFBFBF","profile_sidebar_fill_color":"C9C9C9","profile_text_color":"1C1F23","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Wed, 06 Jun 2018 06:23:45 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1//statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=lilwillifo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 06:23:45 GMT
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - OAuth realm="https://api.twitter.com"
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b4b4f768ebf0efa4e7359a9941d17bc6
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1478'
      X-Rate-Limit-Reset:
      - '1528267099'
      X-Response-Time:
      - '50'
      X-Transaction:
      - 0056f50100a56739
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"request":"\/1.1\/\/statuses\/user_timeline.json","error":"Not authorized."}'
  recorded_at: Wed, 06 Jun 2018 06:23:45 GMT
[...]
