---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=turingschool
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Zvh4LiIttUh3DILY4NBlFLb86", oauth_nonce="8a3e4485b2c6e2464ef7f24ab5dbb1f1",
        oauth_signature="VTKkFbZJkSQs%2FPLxQLHmsRCRbQw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528305015", oauth_token="809075773105721344-2v0x7qaJh1VAPINp2rluMeOt4DgLTni",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 17:10:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 841b1c026c4a64e50354d3969e89ff55
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1528305915'
      X-Response-Time:
      - '225'
      X-Transaction:
      - 00a4756e00f7efad
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"id":1973042528,"id_str":"1973042528","name":"Turing School","screen_name":"turingschool","location":"Denver,
        CO","description":"We unlock human potential by training a diverse, inclusive
        student body to succeed in high-fulfillment technical careers.","url":"https:\/\/t.co\/TrJ7G88hmO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G88hmO","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2758,"friends_count":587,"listed_count":139,"created_at":"Sat
        Oct 19 22:33:01 +0000 2013","favourites_count":2640,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":3898,"lang":"en","status":{"created_at":"Tue
        Jun 05 17:16:08 +0000 2018","id":1004049244603416582,"id_str":"1004049244603416582","text":"RT
        @joshuajhun: Having my students white board some #react today. #lifeisgood
        #dev #js https:\/\/t.co\/cHhHAnOYMD","truncated":false,"entities":{"hashtags":[{"text":"react","indices":[52,58]},{"text":"lifeisgood","indices":[66,77]},{"text":"dev","indices":[78,82]},{"text":"js","indices":[83,86]}],"symbols":[],"user_mentions":[{"screen_name":"joshuajhun","name":"yung-jhun
        \ud83c\uddf5\ud83c\udded","id":67410732,"id_str":"67410732","indices":[3,14]}],"urls":[],"media":[{"id":1004020465436844033,"id_str":"1004020465436844033","indices":[87,110],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1004020465436844033\/pu\/img\/5ak8StmpJV86kWjO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1004020465436844033\/pu\/img\/5ak8StmpJV86kWjO.jpg","url":"https:\/\/t.co\/cHhHAnOYMD","display_url":"pic.twitter.com\/cHhHAnOYMD","expanded_url":"https:\/\/twitter.com\/joshuajhun\/status\/1004020501352722432\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}},"source_status_id":1004020501352722432,"source_status_id_str":"1004020501352722432","source_user_id":67410732,"source_user_id_str":"67410732"}]},"extended_entities":{"media":[{"id":1004020465436844033,"id_str":"1004020465436844033","indices":[87,110],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1004020465436844033\/pu\/img\/5ak8StmpJV86kWjO.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1004020465436844033\/pu\/img\/5ak8StmpJV86kWjO.jpg","url":"https:\/\/t.co\/cHhHAnOYMD","display_url":"pic.twitter.com\/cHhHAnOYMD","expanded_url":"https:\/\/twitter.com\/joshuajhun\/status\/1004020501352722432\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}},"source_status_id":1004020501352722432,"source_status_id_str":"1004020501352722432","source_user_id":67410732,"source_user_id_str":"67410732","video_info":{"aspect_ratio":[9,16],"duration_millis":8000,"variants":[{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1004020465436844033\/pu\/vid\/720x1280\/4JtncToKfMpeuaGf.mp4?tag=3"},{"bitrate":256000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1004020465436844033\/pu\/vid\/180x320\/1b_rPVGCnMtfBDQV.mp4?tag=3"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1004020465436844033\/pu\/pl\/0I2pl1x0caf0Jmuh.m3u8?tag=3"},{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1004020465436844033\/pu\/vid\/360x640\/_eFN3lR-YPRDPZOi.mp4?tag=3"}]},"additional_media_info":{"monetizable":false}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Jun 05 15:21:55 +0000 2018","id":1004020501352722432,"id_str":"1004020501352722432","text":"Having
        my students white board some #react today. #lifeisgood #dev #js https:\/\/t.co\/cHhHAnOYMD","truncated":false,"entities":{"hashtags":[{"text":"react","indices":[36,42]},{"text":"lifeisgood","indices":[50,61]},{"text":"dev","indices":[62,66]},{"text":"js","indices":[67,70]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1004020465436844033,"id_str":"1004[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=turingschool
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 17:10:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3f47453efec59f171e299566ab08d262
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1528305915'
      X-Response-Time:
      - '66'
      X-Transaction:
      - 00243f1f0080d352
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":1973042528,"id_str":"1973042528","name":"Turing School","screen_name":"turingschool","location":"Denver,
        CO","profile_location":null,"description":"We unlock human potential by training
        a diverse, inclusive student body to succeed in high-fulfillment technical
        careers.","url":"https:\/\/t.co\/TrJ7G88hmO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G88hmO","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2758,"friends_count":587,"listed_count":139,"created_at":"Sat
        Oct 19 22:33:01 +0000 2013",[...]
