---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&screen_name=turingschool&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 May 2018 03:11:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - '0876bedd25ae405525846e009652acd6'
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1013'
      X-Rate-Limit-Reset:
      - '1527736358'
      X-Response-Time:
      - '61'
      X-Transaction:
      - '008907610093225e'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue May 29 16:05:20 +0000 2018","id":1001494710177992704,"id_str":"1001494710177992704","text":"\u201cIntroducing
        the Module Repeat Fund!\u201d by Kayt Hensley https:\/\/t.co\/5WPNX2VmhY","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/5WPNX2VmhY","expanded_url":"https:\/\/medium.com\/turingschool\/introducing-the-module-repeat-fund-51eaf4de3fd6","display_url":"medium.com\/turingschool\/i\u2026","indices":[54,77]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1973042528,"id_str":"1973042528"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":11,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        May 21 14:42:57 +0000 2018","id":998574874913394688,"id_str":"998574874913394688","text":"Check
        out Turing\u2019s latest podcast from our new hosts, @JamisonOrdway and @RosaTheDev
        \ud83c\udf99 https:\/\/t.co\/FERr0xp6Lq","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JamisonOrdway","name":"Jamison
        Ordway","id":841677818085949444,"id_str":"841677818085949444","indices":[54,68]},{"screen_name":"RosaTheDev","name":"Richard
        Rosa","id":894582629961416706,"id_str":"894582629961416706","indices":[73,84]}],"urls":[{"url":"https:\/\/t.co\/FERr0xp6Lq","expanded_url":"https:\/\/itunes.apple.com\/us\/podcast\/success-at-turing-health-wellness-posse-and-new-host-intros\/id1121073494?i=1000411951978&mt=2","display_url":"itunes.apple.com\/us\/podcast\/suc\u2026","indices":[87,11[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1//statuses/user_timeline.json?count=200&exclude_replies=true&include_rts=false&max_id=971800210426028031&screen_name=turingschool&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 May 2018 03:11:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 6a717141ad9f5692e9c4e5bbdf9766e6
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1012'
      X-Rate-Limit-Reset:
      - '1527736358'
      X-Response-Time:
      - '60'
      X-Transaction:
      - '0080ca8b00350ac8'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Mar 02 01:53:24 +0000 2018","id":969390180665843714,"id_str":"969390180665843714","text":"Congrats
        #1708! You did it! https:\/\/t.co\/3KGe6YEnow","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":969390171954102272,"id_str":"969390171954102272","indices":[28,51],"media_url":"http:\/\/pbs.twimg.com\/media\/DXP3ObAUQAAqq4v.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DXP3ObAUQAAqq4v.jpg","url":"https:\/\/t.co\/3KGe6YEnow","display_url":"pic.twitter.com\/3KGe6YEnow","expanded_url":"https:\/\/twitter.com\/turingschool\/status\/969390180665843714\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":900,"resize":"fit"},"large":{"w":2048,"h":1536,"resize":"fit"},"small":{"w":680,"h":510,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":969390171954102272,"id_str":"969390171954102272","indices":[28,51],"media_url":"http:\/\/pbs.twimg.com\/media\/DXP3ObAUQAAqq4v.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DXP3ObAUQAAqq4v.jpg","url":"https:\/\/t.co\/3KGe6YEnow","display_url":"pic.twitter.com\/3KGe6YEnow","expanded_url":"https:\/\/twitter.com\/turingschool\/status\/969390180665843714\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":900,"resize":"fit"},"[...]
[...]
