---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=turingschool
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Zvh4LiIttUh3DILY4NBlFLb86", oauth_nonce="0821b5636b7574ef00d88d6972d46801",
        oauth_signature="fCPK24eipOUeq4aVPkjGNfVEanw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527902105", oauth_token="809075773105721344-2v0x7qaJh1VAPINp2rluMeOt4DgLTni",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 02 Jun 2018 01:15:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 82cfa369480ca5ba10f1f954995f65d4
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1527902975'
      X-Response-Time:
      - '359'
      X-Transaction:
      - 00e3469b0073f110
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"id":1973042528,"id_str":"1973042528","name":"Turing School","screen_name":"turingschool","location":"Denver,
        CO","description":"We unlock human potential by training a diverse, inclusive
        student body to succeed in high-fulfillment technical careers.","url":"https:\/\/t.co\/TrJ7G88hmO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G88hmO","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2750,"friends_count":587,"listed_count":139,"created_at":"Sat
        Oct 19 22:33:01 +0000 2013","favourites_count":2646,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":3895,"lang":"en","status":{"created_at":"Fri
        Jun 01 17:18:09 +0000 2018","id":1002600200274432001,"id_str":"1002600200274432001","text":"RT
        @ameseee: I''m fortunate to work at a place where I''m pushed technically
        every day and still feel connected to K12 education! Inspired by\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ameseee","name":"Amy
        Holt","id":3249262958,"id_str":"3249262958","indices":[3,11]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jun 01 03:19:55 +0000 2018","id":1002389249348366339,"id_str":"1002389249348366339","text":"I''m
        fortunate to work at a place where I''m pushed technically every day and still
        feel connected to K12 education!\u2026 https:\/\/t.co\/hdpcDTo3vK","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/hdpcDTo3vK","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1002389249348366339","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1002296173921619968,"quoted_status_id_str":"1002296173921619968","retweet_count":1,"favorite_count":10,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":true,"quoted_status_id":1002296173921619968,"quoted_status_id_str":"1002296173921619968","retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/444146105312243712\/EHdy1GyV_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/444146105312243712\/EHdy1GyV_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1973042528\/1505944047","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},{"id":1133971,"id_str":"1133971","name":"Jeff
        Casimir","screen_name":"j3","location":"Denver, CO","description":"Don''t
        talk about it, be about it. Executive Director at the @TuringSchool.","url":"https:\/\/t.co\/TrJ7G7QGvg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G7QGvg","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":7088,"friends_count":1773,"listed_count":44[...]
