---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=turingschool
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Zvh4LiIttUh3DILY4NBlFLb86", oauth_nonce="f23f06f10611fced861754e2225d5989",
        oauth_signature="O1KaSVY1%2BT1mBPzCy%2Fg1P0EA70c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527822192", oauth_token="809075773105721344-2v0x7qaJh1VAPINp2rluMeOt4DgLTni",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 Jun 2018 03:03:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 55ae3c12f4d437c54a1dd7772250e6e2
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1527822409'
      X-Response-Time:
      - '179'
      X-Transaction:
      - 007f895c00b64c10
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"id":1973042528,"id_str":"1973042528","name":"Turing School","screen_name":"turingschool","location":"Denver,
        CO","description":"We unlock human potential by training a diverse, inclusive
        student body to succeed in high-fulfillment technical careers.","url":"https:\/\/t.co\/TrJ7G88hmO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G88hmO","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2749,"friends_count":587,"listed_count":139,"created_at":"Sat
        Oct 19 22:33:01 +0000 2013","favourites_count":2646,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":3894,"lang":"en","status":{"created_at":"Fri
        Jun 01 01:37:57 +0000 2018","id":1002363590651928577,"id_str":"1002363590651928577","text":"RT
        @a_reuster: 2 more reasons why @turingschool is awesome: 1. We make sure our
        students have solid foundations before we move them on 2. O\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"a_reuster","name":"Allison
        Reu Singer","id":4423193714,"id_str":"4423193714","indices":[3,13]},{"screen_name":"turingschool","name":"Turing
        School","id":1973042528,"id_str":"1973042528","indices":[34,47]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        May 31 23:02:29 +0000 2018","id":1002324466276265984,"id_str":"1002324466276265984","text":"2
        more reasons why @turingschool is awesome: 1. We make sure our students have
        solid foundations before we move the\u2026 https:\/\/t.co\/KcWE071jiC","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"turingschool","name":"Turing
        School","id":1973042528,"id_str":"1973042528","indices":[19,32]}],"urls":[{"url":"https:\/\/t.co\/KcWE071jiC","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1002324466276265984","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1001494710177992704,"quoted_status_id_str":"1001494710177992704","retweet_count":1,"favorite_count":7,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":true,"quoted_status_id":1001494710177992704,"quoted_status_id_str":"1001494710177992704","retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/444146105312243712\/EHdy1GyV_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/444146105312243712\/EHdy1GyV_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1973042528\/1505944047","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},{"id":1133971,"id_str":"1133971","name":"Jeff
        Casimir","screen_name":"j3","location":"Denver, CO","description":"Don''t
        talk about it, be about it. Executive Director at the @TuringSchool.","url":"https:\/\/t.co\/TrJ7G7QGvg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G7QGvg","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":7088,"friends_count":1773,"listed_count":44[...]
