---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=katyperry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 05 Jun 2018 05:41:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d225f2c009576e160405a4971b705b10
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1528178185'
      X-Response-Time:
      - '26'
      X-Transaction:
      - '009a569e00f3d9ec'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":21447363,"id_str":"21447363","name":"KATY PERRY","screen_name":"katyperry","location":"","profile_location":null,"description":"Love.
        Light.","url":"https:\/\/t.co\/UCVo8NkmAc","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/UCVo8NkmAc","expanded_url":"http:\/\/www.katyperry.com\/tour","display_url":"katyperry.com\/tour","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":109515612,"friends_count":216,"listed_count":141497,"created_at":"Fri
        Feb 20 23:45:56 +0000 2009","favourites_count":6204,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":9211,"lang":"en","status":{"created_at":"Tue
        Jun 05 03:08:49 +0000 2018","id":1003836006716485632,"id_str":"1003836006716485632","text":"CALIFORNIANS!
        What\u2019s important to you? Is it gun violence? Immigration? Women\u2019s
        rights? Prison reform? The\u2026 https:\/\/t.co\/tr8Pu9GmTO","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/tr8Pu9GmTO","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1003836006716485632","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[108,131]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":625,"favorite_count":3735,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"CECFBC","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1001159499133149184\/mNHEcMbf_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1001159499133149184\/mNHEcMbf_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/21447363\/1527150186","profile_link_color":"D55732","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"78C0A8","profile_text_color":"5E412F","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"}'
  recorded_at: Tue, 05 Jun 2018 05:41:25 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1//users/show.json?screen_name=j3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAIb56AAAAAAAGvKPi5kyQcJvYQgPS9lzreJScoo%3DEiZBtjt3tieHsC2RfUln4vCBsSqoTu5wYedgD1IV9JIvEBdhLt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=[...]
