---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/personality-insights/api/v3/profile?version=2017-10-13
    body:
      encoding: UTF-8
      string: 'this is a test string this is a test string this is a test string this
        is a test string this is a test string this is a test string this is a test
        string this is a test string this is a test string this is a test string this
        is a test string this is a test string this is a test string this is a test
        string this is a test string this is a test string this is a test string this
        is a test string this is a test string this is a test string this is a test
        string this is a test string this is a test string this is a test string this
        is a test string '
    headers:
      Authorization:
      - Basic MGVjMDRjYWMtZDFiOS00YjcxLTlmODgtNTkxNjc4MWNlYjJkOk5KZmwwV1E0TW5TSA==
      Content-Type:
      - text/plain;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      X-Service-Api-Version:
      - 3.4.4
      X-Service-Build-Number:
      - 2018-05-21T05:06:00.565 UTC
      Content-Disposition:
      - attachment; filename="WatsonPersonalityInsightsAPI.json"
      Content-Language:
      - en-US
      Content-Type:
      - application/json
      X-Dp-Transit-Id:
      - gateway01-2007849021
      X-Global-Transaction-Id:
      - 7ecac92c5b0f64aa77ad583d
      X-Dp-Watson-Tran-Id:
      - gateway01-2007849021
    body:
      encoding: UTF-8
      string: '{"word_count":125,"word_count_message":"There were 125 words in the
        input. We need a minimum of 600, preferably 1,200 or more, to compute statistically
        significant estimates","processed_language":"en","personality":[{"trait_id":"big5_openness","name":"Openness","category":"personality","percentile":0.9300253602804942,"significant":true,"children":[{"trait_id":"facet_adventurousness","name":"Adventurousness","category":"personality","percentile":0.364916201669199,"significant":true},{"trait_id":"facet_artistic_interests","name":"Artistic
        interests","category":"personality","percentile":0.45451734386200954,"significant":true},{"trait_id":"facet_emotionality","name":"Emotionality","category":"personality","percentile":0.3676717946590121,"significant":true},{"trait_id":"facet_imagination","name":"Imagination","category":"personality"[...]
[...]
