<section class="user-info section" fill-color="#8F8F8F">
  <ul class="user">
    <li class="avatar"> <%= image_tag(@personality_profile.avatar_url, class: "avatar") %> </li>
    <li class="name">  <%= @personality_profile.name %> </li>
  </ul>
