</section>
<section class="profile-right">
<div class="user-stats">
  <div class="counts">
    <div class="user-stat">
      <div class="icon">
        <i class="far fa-comments"></i> Total Tweets Analyzed
      </div>
      <div class="stat analysis">
        N/A
      </div>
    </div>
    <div class="user-stat">
      <div class="icon">
        <i class="far fa-calendar-alt"></i> Date of Newest Tweet
      </div>
      <div class="stat analysis">
        N/A
      </div>
    </div>
    <div class="user-stat">
      <div class="icon">
        <i class="far fa-calendar-alt"></i> Date of Oldest Tweet
      </div>
      <div class="stat analysis">
        N/A
      </div>
    </div>
  </div>
</div>
<section class="profile-alert">
  <div class="error-message">
    Unable to retrieve user profile. <%= @personality_profile.error_message %>.
  </div>
</section>
</section>
