</section>
<section class="profile-right">
<div class="user-stats">
  <div class="counts">
    <div class="user-stat">
      <div class="icon">
        <i class="far fa-comments"></i> Word Count
      </div>
      <div class="stat analysis word-count">
        N/A
      </div>
    </div>
    <div class="user-stat">
      <div class="icon">
        <i class="far fa-calendar-alt"></i> Source
      </div>
      <div class="stat analysis">
        <%= @personality_profile.source %>
      </div>
    </div>
    <div class="user-stat">
      <div class="icon">
        <i class="far fa-calendar-alt"></i> Date Submitted
      </div>
      <div class="stat analysis">
        <%= format_date(@personality_profile.created_at) %>
      </div>
    </div>
  </div>
</div>
<section class="profile-alert">
  <div class="error-message">
    Unable to retrieve user profile. <%= @personality_profile.error_message %>.
  </div>
</section>
</section>
